---
import Basic from '../layouts/Basic.astro';

import Navbar from '../components/Navbar.astro'
import Card from '../components/Card.astro'
import Footer from '../components/Footer.astro'
---

<Basic>
	<Navbar />
	<div id="idx-main">

		<p>welcome to our blog!</p>

        <div id="blogpage">
            <Card title="Zero" blurb="a first post!" image=url("/src/assets/IMG_5399.jpg") slug="blog/zero" ></Card>
        </div>

		<Footer />
	</div>
</Basic>

<style>
	#idx-main {
		margin-left: 15%;
		margin-right: 15%;
	}
</style>