---
import Basic from '../layouts/Basic.astro';

import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
---

<Basic>
	<Navbar />
	<div id="idx-main">
		<center>
		<table border="1" width="90%">
			<thead>
				<tr>
					<th>Week</th>
					<th>Date</th>
					<th>Lecture</th>
					<th>Homework</th>
					<th>Fun</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="2">1</td>
					<td>Feb 11</td>
					<td>Lecture 1: Data Science Intro + Calculus<br/>
					<a href="https://docs.google.com/presentation/d/1oAh7GL7_W9ekIZSCu53XYsYzFWP2KQpGKx_gnlVwu64/edit?usp=sharing">Slides</a></td>
					<td rowspan="2"><a href="/hw1.zip">HW 1</a></td>
					<td rowspan="2"><a href="https://open.spotify.com/playlist/1dkapnRFuGcz43iNGrQAGy?si=8674dec1c2e04343">Playlist</a></td>
				</tr>
				<tr>
					<td>Feb 12</td>
					<td>Lab 1: Linear Algebra and NumPy</td>
				</tr>
				<tr>
					<td rowspan="2">2</td>
					<td>Feb 18</td>
					<td>Lecture 2: Probability and Random Variables<br/>
					<a href="https://docs.google.com/presentation/d/1r3i4z0j89AYJ5_GsKUJ23xhOuMc55PT9rHvobB34JNg/edit#slide=id.g337155fa6fe_1_85">Slides</a><br/>
					<a href="https://colab.research.google.com/drive/1syCsLziErDs8uYXHHVuu_X0dl0cCSrGq#scrollTo=iicZByLek1RM">Notebook</a></td>
					<td rowspan="2"><a href="/hw2.zip">HW 2</a></td>
					<td rowspan="2"></td>
				</tr>
				<tr>
					<td>Feb 19</td>
					<td>Lab 2: Come today and see! :-D</td>
				</tr>
				<tr>
					<td rowspan="2">3</td>
					<td>Feb 25</td>
					<td>Lecture 3: EDA<br/>
					<a href="https://docs.google.com/presentation/d/1nHzMrze5wL2ZBdEjHYKvlfUjJP0Kg38wm_lsL4DfLwE/edit#slide=id.g339b5be8024_0_0">Slides</a></td>
					<td rowspan="2">Continue Previous HW</td>
					<td rowspan="2"></td>
				</tr>
				<tr>
					<td>Feb 26</td>
					<td><a href="https://docs.google.com/document/d/1LycEPdOh-P757pangvuFGbC7OEuvoMUbfQkyVSk21gw/edit?tab=t.0">Project Proposal Doc!</a><br/>
					<a href="/lab3.ipynb">Lab Notebook</a></td>
				</tr>
				<tr>
					<td rowspan="2">4</td>
					<td>Mar 4</td>
					<td>Lecture 4: Modeling<br/>
					<a href="https://docs.google.com/presentation/d/19pYxypi9JTgSFPIgBuvqlWbopyCRlTxR-qt3wIjJAYw/edit#slide=id.g33c2b5cb2c1_0_66">Slides</a></td>
					<td rowspan="2"><a href="/hw3.zip">HW 3</a></td>
					<td rowspan="2"></td>
				</tr>
				<tr>
					<td>Mar 5</td>
					<td><a href="/lab4.ipynb">Lab Notebook</a></td>
				</tr>
				<tr>
					<td rowspan="2">5</td>
					<td>Mar 11</td>
					<td>Lecture 5: Linear Models<br/>
					<a href="https://docs.google.com/presentation/d/16gE8oY3EvZV4cIDFoIyxXBKIBWF8X3R7Ymb3DpDPamI/edit#slide=id.g33f0a191989_0_0">Slides</a></td>
					<td rowspan="2"><a href="/hw4.zip">HW 4</a></td>
					<td rowspan="2"></td>
				</tr>
				<tr>
					<td>Mar 12</td>
					<td><a href="/lab5.ipynb">Lab Notebook</a></td>
				</tr>
				<tr>
					<td rowspan="2">5</td>
					<td>Mar 18</td>
					<td>Lecture 6: PCA and Dimensionality Reduction<br/>
					<a href="https://docs.google.com/presentation/d/1dz-acCbMOx76Zc6o4BCO6vxQtwW3O4YcC7i9RO9aF6U/edit#slide=id.g340bdfa67ca_0_0">Slides</a></td>
					<td rowspan="2">No new HW over break!</td>
					<td rowspan="2"></td>
				</tr>
				<tr>
					<td>Mar 19</td>
					<td>Surprise lab!</td>
				</tr>
				<tr>
					<td rowspan="2">6</td>
					<td>Apr 1</td>
					<td>Lecture 6: Classification and Clustering<br/>
					<a href="https://docs.google.com/presentation/d/1XSlX1y0-p0gxlFeB5g4vLkJFa2zG2Ft_g2mP7Q3rW54/edit#slide=id.g340bdfa67ca_0_0">Slides</a></td>
					<td rowspan="2"><a href="/hw5.zip">HW 5</a></td>
					<td rowspan="2"></td>
				</tr>
				<tr>
					<td>Apr 2</td>
					<td><a href="https://docs.google.com/presentation/d/1ernrdXoyXy26gsqf4qE4cknrKhsUHozWfUtvV3yO4Sg/edit?usp=sharing">Slides 2</a><br/>
					<a href="https://colab.research.google.com/drive/1iUE3nusp2o7INzCQmafezuRo9yWN0Gb3#scrollTo=cfMsd2AaAlmo">Modeling Template</a></td>
				</tr>
			</tbody>
		</table>
		</center>

		<Footer />
	</div>
</Basic>

<style>
	#idx-main {
		margin-left: 15%;
		margin-right: 15%;
	}
</style>