---
import Basic from '../layouts/Basic.astro';

import Navbar from '../components/Navbar.astro'
import Hero from '../components/Hero.astro'
import Footer from '../components/Footer.astro'
---

<Basic>
	<Navbar />
	<div id="idx-main">

		<p>coming soon!</p>

		<Footer />
	</div>
</Basic>

<style>
	#idx-main {
		margin-left: 15%;
		margin-right: 15%;
	}
</style>