---
import Basic from '../layouts/Basic.astro';

import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
---

<Basic>
	<Navbar />
	<div id="idx-main">

		<ul>
			<li><a href="https://docs.google.com/document/d/1ESGMpTxviT234Ht_-GrvRLNxU-k9G6VnAkM1BitrMXQ/edit?tab=t.0#heading=h.cnlcq0cjrvje">DF Notes Doc</a></li>
		</ul>

		<Footer />
	</div>
</Basic>

<style>
	#idx-main {
		margin-left: 15%;
		margin-right: 15%;
	}
</style>