<div id="footer">
    built with Astro, taking heavy stylistic inspiration from <a href="https://kxllytrxn.github.io/">Kelly Tran's website</a>!
</div>

<style>
    #footer {
        margin-top: 70px;
        text-align: center;
    }
</style>