---
import '../styles/globals.css'

import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="stylesheet" 
              href="https://cdn.jsdelivr.net/npm/katex@0.16.11/dist/katex.min.css" 
              integrity="sha384-nB0miv6/jRmo5UMMR1wu3Gz6NLsoTkbqJghGIsx//Rlm+ZU03BU6SQNC66uf4l5+" 
              crossorigin="anonymous">
		<meta name="generator" content={Astro.generator} />
		<title>Cranberry Juice</title>
	</head>
	<body>
        <Navbar />
        <div id="post">
		    <slot />
        </div>
        <Footer />
	</body>
</html>

<style>
    #post {
        margin-left: 15%;
        margin-right: 15%;
    }
</style>